.home-featured {
    @mixin container;
    
    @media (min-width: 900px) {
        display: flex;    
    }
    
}

.home-featured-buckets {
    
    
    @media (min-width: $phoneSize) {
        display: flex;
    }

    @media (min-width: 900px) {
        
        width: 66.666666%;
    }

    .home-featured-bucket {
        
        @media (min-width: 900px;) {
            width: 50%;
        }
        
    }
}

.home-featured-sidebar {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 900px) {
        width: 33.333333%;
    }
}

.standard-bucket__content {
    padding: 3.0rem;
}


.standard-bucket {
    a:hover {
        h2 {
            color: $mainColor;
            @mixin animation;
        }
    }
    h2 {
        font-weight: bold;
        margin-bottom: 4.0rem;
    }
}

.home-featured-bucket .standard-bucket {
    display: flex;
    flex-direction: column;
    height: 100%;

    a {
        display: block;
    }
}

.home-featured-bucket .standard-bucket__content {
    
    flex: 2;
    border-left: 1px solid $borderColor;
    border-right: 1px solid $borderColor;
}

.home-featured-bucket:last-of-type .standard-bucket__content {
    border: 0;
}


.home-featured-side-post {
    background: $backgroundColor;
    height: 50%;
    padding: 3.0rem;
    border-bottom: 1px solid color($backgroundColor shade(7%));

    &:last-child {
        border: 0;
    }

    h2 {
        font-weight: bold;
        margin-bottom: .5rem;
    }

    a:hover {
        h2 {
            color: $mainColor;
            @mixin animation;
        }
    }

    p {
        font-size: 1.4rem;
        padding: 0;
        margin: 0 0 1.5rem;
    }
}

.home-section {
    @mixin container;
}

.home-section-header {
    background: $backgroundColor;
    padding: 3.0rem;
    
    align-items: center;

    @media (min-width: $phoneSize) {
        display: flex;
    }

    strong {
        display: inline-block;
        @mixin bravo;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.0rem;
        font-family: $headingFont;

        @media (min-width: $phoneSize) {
            margin-right: 4.0rem;
            margin-bottom: 0;
        }
    }
}

.home-section-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    

    i {
        margin-right: 1.0rem;
    }
}

.home-section-content {
    
    @media (min-width: 900px) {
        display: flex;    
    }
    

    .standard-bucket {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;

        @media (min-width: 900px) {
            width: 50%;
        }

        @media (min-width: 1100px) {
            width: 25%;
        }
    }

    .standard-bucket__content {
        border-left: 1px solid $borderColor;
        flex: 2;
    }
}

.subscribe {
    @mixin cover-background;
    position: relative;

    &:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: rgba(47,47,47,.8);
        z-index: 0;
    }
}

.subscribe-container {
    position: relative;
    z-index: 1;
    @mixin container;
    color: #fff;
    padding: 10.0rem 2.0rem;
}

.subscribe-content {
    
    justify-content: space-between;

    @media (min-width: $phoneSize) {
        display: flex;
    }
}

.subscribe-body {
    display: flex;
}

.subscribe-cover {
    width: 30%;
    margin-right: 8.0rem;
    display: none;

    @media (min-width: 900px) {
        display: block;
    }
}

.subscribe-copy {
    
    color: #fff;
    margin-bottom: 6.0rem;

    @media (min-width: $phoneSize) {
        width: 70%;
        margin-right: 8.0rem;
    }

    h2 {
        color: #fff;
        font-weight: bold;
        @mixin alpha;
    }
}

.subscribe-ad {

    display: block;
    padding: 50px 0 0 0;
    text-align: center;
    @media (min-width: $phoneSize) {
        display: flex;
        flex: 0 0 300px;    
        align-items: center;
        justify-content: center;
        padding: 0;
    }
}

.member-link {
    color: #fff;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    
    i {
        margin-right: 2.0rem;

    }
    
    a {
        color: #fff;
        display: inline-block;
        position: relative;
        

        &:hover {
            &:after {
                position: absolute;
                content: '';
                left: 0;
                bottom: -0rem;
                height: 2px;
                width: 100%;
                background: $mainColor;
            }
        }
    }
}

.featured-banner__event {
    text-align: center;
    height: auto;
    max-width: none;
    
    width: 100%;

    @media (min-width: 1100px) {
        width: 50%;
    }
    
    h2 {
        @mixin alpha;
        text-transform: uppercase;
        color: #fff;
        font-weight: bold;
        
    }

    .button-group {
        justify-content: space-around;
        margin: 0 auto;
        max-width: 90%;
        display: block;

        @media (min-width: $phoneSize) {
            display: flex;
        }

        a {
            color: #000;

            &:hover {
                color: #fff;
                text-decoration: none;
                
            }
        }
    }

    a {
        color: $mainColor;

        &:hover {
            text-decoration: underline;
        }
    }
}

.photo-link {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    flex: 0 0 100px;
    margin: 0 auto 4.0rem auto;
    line-height: 2.0rem;

    
    i {
        margin-right: 1.0rem;
        line-height: 2.0rem;
    }
}

.content-ad {
    padding: 4.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
}